</br>

<h1><center>The best condos available tonight in Austin<center></h1>
 
<hr class="featurette-divider">

<div class="container">
	<%= render 'layouts/austin_airbnb_1550763' %>
	<%= render 'layouts/austin_airbnb_718098' %>
	<%= render 'layouts/austin_airbnb_943528' %>
	<%= render 'layouts/austin_vrbo_3638416' %>
	<%= render 'layouts/austin_vrbo_355897' %>
	<%= render 'layouts/austin_vrbo_3636062' %>

</div>
 
<hr class="featurette-divider">