</br>

<h1><center>The best condos available tonight in New York<center></h1>
 
<hr class="featurette-divider">

<div class="container">
	<%= render 'layouts/rockefeller23' %>
	<%= render 'layouts/rockefeller25' %>
	<%= render 'layouts/midtown40' %>
	<%= render 'layouts/midtown41' %>
	<%= render 'layouts/midtown58' %>   
</div>
 
<hr class="featurette-divider">