<%= simple_form_for inquiry do |f| %>

  <% if inquiry.errors.any? %>
    <ul>
      <% inquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  
  </br>

   <div>
    <%= f.label :condo, :label => "Please link us to your condo listing (Airbnb, Homeaway, VRBO, etc)." %><br/>
    <%= f.text_field :condo %>
  </div>

  <div>
    <%= f.label :name, :label => 'Full Name' %><br/>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :email, :label => 'Email' %><br/>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :phone, :label => 'Phone (including area code)' %><br/>
    <%= f.text_field :phone %>
  </div>

  <div class= "form-actions">
    <%= f.submit "Send", class: "btn btn-primary" %>
  </div>
<% end %>